*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
 
.contenedor{
    display: grid;
      grid-template-columns: repeat(7,1fr);
      max-width: 100vw;
      min-height: 100vh;
      border: 20px;
      font-size: 30px;
      color: aliceblue;

}
#navbar-pinterest{
    display: flex;
    padding: 15px;
    gap: 10;
    justify-content: space-between;
    align-items: center;
    top: 0;
    
    
}
nav img{
    width: 20px;
    height: 20px;
}
input{
    width: 65%;
    border-radius: 25px;
    padding: 10px;
     
}
div{
    margin: 1px;
    padding: 5px;
}
@media screen and (max-widht: 960px){
    .contenedor{
        grid-template-columns: max-content;
        grid-row: 1/-8;
    }
    
}